<!--LUCIA DEL ROSARIO PÉREZ CASTILLO - CLAVE 05 - SECCIÓN C -->

<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuid="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="wave-container">
    <img src="assets/ima/ima9.png"  >

    <ion-text color="dark">
      <h6>Los síntomas notificados por personas con COVID-19 varían desde aquellos que presentan síntomas leves hasta quienes se enferman gravemente. Los síntomas pueden aparecer 2 a 14 días después de la exposición al virus. Las personas con estos síntomas podrían tener COVID-19:</h6>
    </ion-text>
    
    <!-- List of Text Items -->
      <ion-list>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Fiebre o escalofríos</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Tos</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Dificultad para respirar (sentir que le falta el aire)</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Fatiga</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Dolores musculares y corporales</ion-label>
        </ion-item>
         <p></p>
        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Dolor de cabeza</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Pérdida reciente del olfato o el gusto</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Dolor de garganta</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Congestión o moqueo</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Náuseas o vómitos</ion-label>
        </ion-item>

        <ion-item>
          <ion-label><ion-icon name="checkmark-outline"></ion-icon> Diarrea</ion-label>
        </ion-item>

      </ion-list>



    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FFD700" fill-opacity="1" d="M0,160L120,181.3C240,203,480,245,720,224C960,203,1200,117,1320,74.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</ion-content>
