<!--LUCIA DEL ROSARIO PÉREZ CASTILLO - CLAVE 05 - SECCIÓN C -->

<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Sobre el Covid-19
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuid="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="wave-container">
  <!--separacion-->
  <ion-card>
    <img src="assets/ima/ima3.svg"  >
    <ion-card-header>
      <ion-card-subtitle>1</ion-card-subtitle>
      <ion-card-title>¿Que es el coronavirus?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El coronavirus es un grupo de virus que causan enfermedades que van desde el resfriado común hasta enfermedades más graves como neumonía, síndrome respiratorio de Oriente Medio (MERS) y síndrome respiratorio agudo grave (SARS). Cabe destacar que la cepa de coronavirus (2019-nCoV) que ha causado el brote en China es nueva y no se conocía previamente.
    </ion-card-content>
  </ion-card>
  <!--separacion-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2</ion-card-subtitle>
      <ion-card-title>¿Qué es Covid-19?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      La COVID-19 es la enfermedad infecciosa causada por el coronavirus que se ha descubierto más recientemente. Ambos eran desconocidos antes de que estallara el brote en Wuhan (China) en diciembre de 2019.
    </ion-card-content>
  </ion-card>
  <!--separacion-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>3</ion-card-subtitle>
      <ion-card-title>¿Comó se originó?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      El 31 de diciembre de 2019, la Organización Mundial de la Salud (OMS) recibió reportes de presencia de neumonía, de origen desconocido, en la ciudad de Wuhan, en China. Rápidamente, a principios de enero, las autoridades de este país identificaron la causa como una nueva cepa de coronavirus. La enfermedad ha ido expandiéndose hacia otros continentes como Asia, Europa y América.   
    </ion-card-content>
  </ion-card>
  <!--separacion-->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>4</ion-card-subtitle>
      <ion-card-title>¿A quién afecta?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Hay casos confirmados de coronavirus en casi todo del mundo, incluyendo China, Europa (siendo en Italia y España los primeros focos), Irán, Estados Unidos, África, Australia y LATAM. La Organización Mundial de la Salud (OMS) y la Organización Panamericana de la Salud (OPS) han reconocido el estado de pandemia, que supone el desarrollo de esta enfermedad. Es por ello que los viajes se han visto restringidos y muchos países ha cerrado sus fronteras, para tratar de evitar su expansión.  
    </ion-card-content>
  </ion-card>
  <!--separacion-->
  <ion-card>
    <img src="assets/ima/ima4.svg"  >
    <ion-card-header>
      <ion-card-subtitle>5</ion-card-subtitle>
      <ion-card-title>¿Que es la cuarentena?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Es la separación y restricción de movimientos impuesta a una persona que puede haber estado en contacto con una fuente de infección pero que no tiene síntomas. El objetivo de la cuarentena es lograr que, en el caso de que la persona se hubiera infectado, no transmita a su vez la infección a otros. La realización de cuarentena sólo tiene sentido para aquellas enfermedades que se pueden transmitir durante el periodo asintomático, es decir, antes de que la persona muestre síntomas de enfermedad. Sobre la base de la información que se maneja actualmente se ha establecido una cuarentena de 14 días.  
    </ion-card-content>
  </ion-card>
  <!--separacion-->

  <ion-card>
    <ion-item class="ion-activated">
      <ion-icon name="add-outline" slot="start"></ion-icon>
      <ion-label>Diferencias entre covid y la influenza</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="add-outline" slot="start"></ion-icon>
      <ion-label>Más información</ion-label>
    </ion-item>
  </ion-card>


  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFD700" fill-opacity="1" d="M0,96L48,85.3C96,75,192,53,288,85.3C384,117,480,203,576,208C672,213,768,139,864,117.3C960,96,1056,128,1152,160C1248,192,1344,224,1392,240L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>

</div>
</ion-content>





