<!--LUCIA DEL ROSARIO PÉREZ CASTILLO - CLAVE 05 - SECCIÓN C -->

<!--ion-header [translucent]="true">
  <ion-toolbar color="#091d23">
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuid="main-menu"><ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
  
  <div class="wave-container">
    <P>Lucia Pérez 05-C</P>
    <img src="assets/ima/ima2.svg" width="500px" height="500px" >
    <h2>Conozca los datos acerca del coronavirus Covid-19</h2>
    <ion-button color="warning" routerLink="/tabs/tab2">Siguiente</ion-button>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00cba9" fill-opacity="1" d="M0,160L120,181.3C240,203,480,245,720,224C960,203,1200,117,1320,74.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>

  
</ion-content>
