.wave-container {
    position: relative;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    
    img {
      margin-bottom: 20px;
      margin-top: 0px;
      float: center;
    }
  
  }
  
  .wave-container > svg {
    display: block;
  }

  h6{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    text-align: center;
  }

  