<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Como prevenirlo
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuid="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<!--LUCIA DEL ROSARIO PÉREZ CASTILLO - CLAVE 05 - SECCIÓN C -->

<ion-content [fullscreen]="true">

  <div class="wave-container">
    <img src="assets/ima/ima8.png">

    <ion-text color="dark">
      <h6>Lávate las manos con frecuencia. Usa agua y jabón o un desinfectante de manos a base de alcohol.</h6>
    </ion-text>

    <img src="assets/ima/ima7.png">

    <ion-text color="dark">
      <h6>Utiliza mascarilla cuando no sea posible mantener el distanciamiento físico.</h6>
    </ion-text>

    <img src="assets/ima/ima5.png">

    <ion-text color="dark">
      <h6>Mantén una distancia de seguridad con personas que tosan o estornuden.</h6>
    </ion-text>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#FFD700" fill-opacity="1" d="M0,32L60,64C120,96,240,160,360,208C480,256,600,288,720,282.7C840,277,960,235,1080,213.3C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>
    
  </div>


 


</ion-content>
