<ion-app>
  <ion-menu menuid="main-menu" content-id="main" >
    <ion-header>
      <ion-toolbar color="secondary" >
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item href="/tabs/tab1">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        

        <ion-menu-toggle>
          <ion-item href="/tabs/tab2">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Sobre el Covid-19</ion-label>
          </ion-item>
        </ion-menu-toggle>
        

        <ion-menu-toggle>
          <ion-item routerLink="/tabs/tab3">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Como prevenirlo</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/tab4">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label>Sintomas</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
